<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Awesome Todo List</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
  <section class="container">
      <nav class="navbar navbar-default">
        <div class="container">
          <ul class="nav navbar-nav">
            <li><a href="/">Active Tasks</a></li>
            <li><a href="/tasks/completed">Completed Tasks</a></li>
            <li><a href="/tasks/create">New Task</a></li>
          </ul>
        </div>
      </nav>
      {% block content %}{% endblock %}
  </section>
</body>
</html>